* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Start of the Left Side*/
.left{
    float: left;
    background-color: #94D4EC;
    width: 40%;
}

.left hr{
    height: 9px; /* Set the desired height for the horizontal rule */
    background-color: #F7F7F7; 
    border: none; 
    margin: 1.5% 0; 
}

.left .logo{
    height: auto;
    width: auto;
    max-width: 35%;
    margin-top: 10%;
    margin-left: 6%;
}

.left .text{
    padding-top: 20%;
    padding-left: 25%;
    padding-bottom: 35.9%;
}

.left p{
    font-size: 48px;
    font-weight: bold;
    color: #884A92;
}

.left .first-line{
    display: inline;
}

.left .second-line{
    display:inline;
    color: #46607D;
}

.left .third-line{
    display: inline;
    color: #FF6976;
}
/*End of the Left Side*/
/*Start of the Right Side*/
.right{
    float: right;
    background-color: #F7F7F7;
    width: 60%;
}

.right hr{
    height: 9px; /* Set the desired height for the horizontal rule */
    background-color: #94D4EC; 
    border: none; 
    margin: 1.5% 0; 
}
/*End of the Right Side*/