* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Start of Sidebar*/

/* .logoIcon {
    width: 5px !important;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #000;
} */

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #000;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #eed5c2;
    padding: .4rem .8rem;
    transition: all 0.5 ease;
}

.sidebar.active~.main-content {
    left: 175px;
    width: calc(100% - 175px);
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 190px;
}

.sidebar.active .user {
    margin-top: 1rem; 
    margin-left: 30%;
}

.sidebar #btn {
    padding-top: 10%;
    position: relative;
    color: #415A77;
    top: 0px;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 45%;
}

.sidebar .top .logo img{
    padding-top: 20px;
    width: 80%;  
    height: auto;
    opacity: 0;
    transition: none;
}

.sidebar.active .top .logo img {
    padding-top: 20px;
    padding-left: 10px;
    width: 80%;  
    height: auto;
    opacity: 1;
    transition: 0.5s;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 2rem 0;
}

.bold {
    font-weight: 600
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
    color: #334152;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    flex-grow: 1; /* This will make the username take up the remaining space */
    text-align: center; /* Center the text */
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li hr.solid {
    border-top: 100px solid #334152;
    /* Change the color to match your design */
    width: 120px;
    /* Adjust the width as needed */
}

.sidebar ul li a {
    color: #334152;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8 rem;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2 rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    padding: .4rem 1.2 rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 1;
}

.sidebar ul li form{
    background-color: none;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background: #eee;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
    margin-left: 0;
    display: flex;
}
/*End of Sidebar*/

/*Start of Modal*/
.modal-taskview{
    position: relative;
    background-color: #FEFFCA;
    gap: 3%;
    padding: 50px;
    border-radius:20px;
    border: 5px solid gainsboro;
    height: 100%;
    width: 98%;
    align-self: center;
    justify-content: center;
}

.modal-taskview button.close{
    position: absolute;
    top: 1%;
    right: 1.5%;
    width: 30px;
    height: 30px;
    font-size: 75%;
    font-weight: 900;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: rgba(134, 154, 178, 0.8);
    color: #ff0015;
    cursor: pointer;
}

.modal-taskview button.close:hover{
    filter: brightness(80%);
}

.modal-taskview .left{
    display: grid;
    grid-template-rows: 3fr 7fr;
}

.modal-taskview .left .header{
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-content: center;
    background-color: #eae31b40;
    border: 2.5px solid rgb(236, 236, 92);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    padding: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

.modal-taskview .left .header .title h1{
    color: #FF6976;
    font-size: 65px;
}

.modal-taskview .left .header .title h2{
    color: #869AB2;
    font-size: 1.5rem;
    padding-left: 5%;
    font-weight: bold;
}

.modal-taskview .left .header .percentage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.modal-taskview .left .header .circle-percentage{
    position: relative;
    height: 100%;
    width: 70%;
    border-radius: 50%;
    background-color: #5194ad;
    background: conic-gradient(#5194ad 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-taskview .left .header .circle-percentage::before{
    content: "";
    position: absolute;
    height: 72.5%;
    width: 70%;
    border-radius: 50%;
    background-color: #f9f89e;
}

.modal-taskview .left .header .percentage span{
    position: relative;
    color: #415a77;
    z-index: 1;
    font-size: 150%;
    font-weight: bold;
}

.modal-taskview .left .bottom{
    border: 2.5px solid rgb(236, 236, 92);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(130, 130, 130, 0.08);
    /* display: grid;
    grid-template-rows: 1fr 3fr; */
    padding-top: 2.5%;
    padding-left: 8%;
    padding-right: 8%;
}

.modal-taskview .left .bottom .description{
    display: block;
    font-size: 1.3rem;
    color: #415A77;
}

.modal-taskview .left .bottom .list-of-task{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    height: 270px;
}

.modal-taskview .left .bottom .list-of-task .subtask {
    background-color: #eae31b29;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 8fr 2fr;
    align-items: center; 
}

.modal-taskview .left .bottom .list-of-task .subtask h3 {
    color: #415A77;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}

.modal-taskview .left .bottom .list-of-task .subtask input[type="checkbox"] {
    width: 20px;
    height: 20px;
    align-self: center;
    justify-self: center;
}

.modal-taskview .left .bottom .list-of-task input[type="submit"]{
    width: 40%; 
    justify-self: right;
}

.modal-taskview .left .buttons{
    background-color: #eae31b29;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-size: 25px;
    height: 100%;
    width: 100%;
}

.modal-taskview .left .buttons button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modal-taskview .left .buttons button.check{
    font-size: 30px;
}

.modal-taskview .left .buttons button.trash{
    font-size: 20px;
}

.modal-taskview .left .buttons button.update{
    font-size: 23px;
}

.modal-taskview .right{
    background-color: rgba(130, 130, 130, 0.08);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 8.2fr 0.8fr;
    border: 2.5px solid rgb(236, 236, 92);
}

.modal-taskview .right .summary-report{
    justify-self: center;
    align-self: center;
    color: #415A77;
    position: relative;
    border-bottom: 2.5px solid rgb(236, 236, 92);
    width: 100%;
}

.modal-taskview .right hr{
    width: 100%;
    border: none;
    height: 2.5px; 
    background-color: rgb(236, 236, 92);
}

.modal-taskview .right .summary-list ul{
    justify-self: center;
    list-style-type: none;
    background-color: rgb(236, 236, 92);
}

.modal-taskview .right .summary-list li{ 
    background-color: #FEFFCA;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #334152;
}

.modal-taskview .right .summary-list li:not(:last-of-type){ 
    margin-bottom: 2.5px;
}

.modal-taskview .right .summary-list li:last-of-type{
    border-bottom: 2.5px solid rgb(236, 236, 92);
}


@media (max-width: 770px) {
    .custom-width-modal {
        max-width: 90%; /* Adjust the percentage as needed for smaller screens */
    }

    .modal-content {
        margin: 10px; /* Add some margin for smaller screens */
    }

    .modal-taskview .left{
        display: flex !important;
        flex-flow: wrap;
    }
}

@media (max-width: 600px){
    .bottom{
        width: 100%;
        overflow-y: auto;
        height: 100%;
    }

    .percentage{
        display: none !important;
    }
    .left .title h1{
        font-size: 30px !important;
    }
    .list-of-task{
        display: flex !important;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 430px){
    .list-of-task .buttons{
        display: flex !important;
        flex-direction: column;
    }
}

@media (max-width: 405px){
    .list-of-task h3{
        font-size: 15px !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
